<div class="container">
	<h1>SIGN UP !!</h1>
	<h6>or login to your account</h>
	<%= form_for User.new do |f| %>
	<!-- <div class="input-group input-group-lg">
  	<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Phone Number" id="phone">
	</div>
	<div class="input-group input-group-lg">
  	<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Name" id="name">
	</div>
	<div class="input-group input-group-lg">
  	<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Email" id="email">
	</div>
	<div class="input-group input-group-lg">
  	<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Password" id="phone">
	</div>
	<div class="input-group input-group-lg">
  	<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Phone Number" id="phone">
	</div>
 -->
 	<p></p>
	<div class="form-group">
		<div class="row">
      <div class="col-sm-4">
				<p class="panel">Phone Number : <%= f.text_field :phone  %></p>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<div class="row">
      <div class="col-sm-4">
				<p class="panel">Name: <%= f.text_field :name %></p>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<div class="row">
      <div class="col-sm-4">
				<p class="panel">Email: <%= f.text_field :email %></p>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<div class="row">
      <div class="col-sm-4">
				<p class="panel">Password: <%= f.text_field :password %></p>
			</div>
		</div>
	</div>
	<%= f.submit "Continue" %>
	<% end %>

</div>
