<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    	<%= f.label :phone, 'Phone Number' %>
    	<br></br>
      <%= f.text_field :phone %>
      <br></br>

      <%= f.label :name %>
      <br></br>
      <%= f.text_field :name %>
      <br></br>

      <%= f.label :email %>
      <br></br>
      <%= f.email_field :email %>
      <br></br>

      <%= f.label :password %>
      <br></br>
      <%= f.password_field :password %>
      <br></br>
      
      <%= f.submit "Continue", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
