
<tr>
  <td><%= dish.name%></td>
  <td><%= dish.price%></td>
  <td>
    <%= link_to "+", restaurants_path, id: "inc_button", remote: true %>
    <%= text_field_tag :quantity,0,:size=>"2", id: "count" %> 
    <%= link_to "-", restaurants_path, id: "dec_button", remote: true %>
  </td>
</tr>